body {
     background: linear-gradient(100deg, rgb(248, 194, 194), rgb(144, 219, 213));
    background-image: url('https://images.pexels.com/photos/7735796/pexels-photo-7735796.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    font-size: 40px;
    align-content: center;
    text-align: center;
    padding: 13px;
    margin: 15px 33% 15px 33%;
    /* margin : top right bottom left;*/
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 7px solid rgb(111, 30, 216);
    border-top: none;
    border-left: none;
    border-radius: 25px;
    box-shadow: 8px 8px 30px rgb(237, 9, 9);
}

.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border-radius: 10px;
    width: 410px;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid rgb(245, 14, 99);
    box-shadow: 10px 10px 12px rgba(186, 17, 228, 0.572);

}

td{
    padding: 3px;
}

button {
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(233, 169, 8);
    width: 102px;
    height: 58px;
    margin: 3%;
    border: 2px solid rgb(11, 241, 122);
    border-top: none;
    border-left: none;
    box-shadow: 5px 3px 7px rgba(170, 9, 233, 0.572);
    border-radius: 35px;
}
button:hover, input:hover{
    background-color: white;
    border: 2px solid rgb(248, 20, 20);
    border-bottom: none;
    border-right: none;
    transform: scale(1.05);
}

.calculator {
    background: linear-gradient(100deg, rgb(209, 5, 5), rgb(13, 225, 208));
    padding: 35px;
    display: inline-block;
    box-shadow: 17px 27px 30px rgba(26, 11, 237, 0.572);
    border: 13px double rgb(199, 8, 8);
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    border-top-right-radius: 53px;
    border-top: 2px solid rgb(29, 28, 28);
    border-left: 2px solid rgb(227, 13, 13);
}